@model JuliePro_Models.ViewModels.CustomerVM

    <div class="card pb-3">
        <div class="card-header pb-3 bg-dark text-light ml-0 row container">
            <div class="col-6">
                <i class="fas fa-book"></i> &nbsp;
                Customer
            </div>
            <div class="col-4 text-right">
                <a asp-controller="Objective" asp-action="Create" asp-route-id="@Model.Customer.Id" class="btn btn-outline-info">Add an objective</a>
            </div>

        </div>
        <div class="card-body">
            <div class="container rounded p-2">
                <div class="row">
                    <div class="col-12 col-lg-6 pb-4">
                        <div class="row">

                            <h4 class="d-flex justify-content-between align-items-center">
                                <span class="text-info">Customer, Objectives and ScheduledSession</span>
                            </h4>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">
                                <label>Customer LastName</label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Customer.LastName" type="text" class="form-control" />
                                <span asp-validation-for="Customer.LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">
                                <label>Customer Firstname</label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Customer.FirstName" type="text" class="form-control" />
                                <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">
                                <label>BirthDate</label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Customer.BirthDate" type="text" class="form-control" />
                                <span asp-validation-for="Customer.BirthDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">
                                <label>Email</label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Customer.Email" type="text" class="form-control" />
                                <span asp-validation-for="Customer.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">
                                <label>StartWeight</label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Customer.StartWeight" type="text" class="form-control" />
                                <span asp-validation-for="Customer.StartWeight" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5 offset-lg-1">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-info">Customer Objectives:</span>
                        </h4>
                        <ul class="list-group mb-3">
                            @foreach (var details in Model.ObjectiveList.OrderByDescending(o => o.Name))
                            {
                            <li class="list-group-item d-flex justify-content-between">
                                <label>Name</label>
                                <div>
                                    <p class="my-0">@details.Name</p>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <label>LostWeight</label>
                                <div>
                                    <p class="my-0">@details.LostWeight</p>
                                </div>
                            </li>
                        
                            <li class="list-group-item d-flex justify-content-between">
                                <label>DistanceKm</label>
                                <div>
                                    <p class="my-0">@details.DistanceKm</p>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <label>AchievedDate</label>
                                <div>
                                    <p class="my-0">@details.AchievedDate</p>
                                </div>
                            </li>
                            }

                        </ul>
                    </div>
                    <div class="col-12 col-lg-5 offset-lg-1">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-info">Customer ScheduledSession:</span>
                        </h4>
                        <div @*class="col-4 text-right"*@>
                            <a asp-controller="ScheduledSession" asp-action="Create" asp-route-id="@Model.Customer.Id" class="btn btn-outline-info">Add a schedulesession</a>
                        </div>
                        <ul class="list-group mb-3">
                            @foreach (var details in Model.ScheduledSessionList.OrderByDescending(s => s.Date))
                            {
                                <li class="list-group-item d-flex justify-content-between">
                                    <label>Description</label>
                                    <div>
                                        <p class="my-0">@details.Description</p>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <label>Date</label>
                                    <div>
                                        <p class="my-0">@details.Date</p>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <label>DurationMin</label>
                                    <div>
                                        <p class="my-0">@details.DurationMin</p>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


